<template>
  <div class="empty">
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path d="M16.143 2l5.857 5.858v8.284l-5.857 5.858h-8.286l-5.857-5.858v-8.284l5.857-5.858h8.286zm.828-2h-9.942l-7.029 7.029v9.941l7.029 7.03h9.941l7.03-7.029v-9.942l-7.029-7.029zm-6.471 6h3l-1 8h-1l-1-8zm1.5 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z"/></svg>
    <p>{{ message }}</p>
  </div>
</template>

<script>
  export default {
    name: 'Empty',
    props: {
      message: String
    },
  }
</script>

<style lang="scss">
  .empty
  {
    padding: 40px 0;
    text-align: center;

    color: #666;

    svg
    {
      path
      {
        fill: #666;
      }
    }
  }
</style>