<template>
  <div class="filter">
    <div class="filter__wrap">
      <div class="filter__ttl">Фильтрация</div>
      <div class="filter__item">
        <div class="filter__item-ttl">по названию</div>
        <input type="text" name="query" v-model="query" placeholder="Начните вводить..." @change="filter({'title': query.toLowerCase()})" @input="filter({'title': query.toLowerCase()})"/>
      </div>        
      <div class="filter__item">
        <div class="filter__item-ttl">по звездам</div>
        <div class="filter__stars stars">
          <div class="star" :class="{ 'star_active': i <= star }" v-for="i in 5" :key="i" @click="filterByStar(i)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524-4.721 2.525.942-5.27-3.861-3.71 5.305-.733 2.335-4.817zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"/></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="filter__clear"><a @click="clear">Сбросить</a></div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'FilterBy',
  data() {
    return {
      query: '',
      star: 0,
    }
  },
  methods: {
    ...mapActions([
      'filter',
    ]),
    filterByStar(star) {
      this.star = star;
      this.filter({star});
    },
    clear() {
      this.query = '';
      this.star = 0;

      this.filter();
    },
  }
}
</script>

<style lang="scss">
.filter {
  padding: 20px 0;

  &__wrap
  {    
    display: flex;
    align-items: center;

    justify-content: space-between;
  }

  &__ttl
  {
    font-size: 20px;
  }

  &__item
  {
    display: flex;
    align-items: center;

    &-ttl
    {
      font-size: 14px;

      margin-right: 20px;
    }

    input
    {
      border: 1px solid #999;
      border-radius: 3px;

      height: 30px;
      padding: 0 10px;

      width: 200px;

      outline: none;
    }
  }

  &__clear
  {
    text-align: right;
    margin-top: 10px;

    font-size: 14px;
    color: #999;

    cursor: pointer;
    text-decoration: underline;

    &:hover
    {
      text-decoration: none;
    }
  }
}
</style>