<template>
  <div class="item">
    <div class="item__img" v-if="data.thumbnail">
      <img :src="data.thumbnail" :alt="data.name"/>
    </div>
    <div class="item__wrap">
      <div class="item__name">{{ data.name }}</div>
      <div class="item__location"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"/></svg> {{ data.adress }}</div>
    </div>
    <div class="item__stars stars">
      <div class="star star_active" v-for="i in data.star" v-bind:key="i">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524-4.721 2.525.942-5.27-3.861-3.71 5.305-.733 2.335-4.817zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"/></svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Item',
  props: {
    data: Object,
  }
}
</script>

<style lang="scss">
.item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__stars
  {
    margin-left: auto;
  }

  &__img
  {
    img
    {
      width: 150px;

      margin-right: 20px;
    }
  }

  &__name
  {
    font-size: 18px;
  }

  &__location
  {
    display: flex;
    align-items: center;

    margin-top: 10px;

    font-size: 14px;

    color: #666;

    svg
    {
      margin-right: 10px;

      path
      {
        fill: #666;
      }
    }
  }
}
</style>
