<template>
  <div id="app" class="wrapper" :class="{'processing': loading}">
    <div class="limiter">
      <FilterBy />      
      <Item v-for="({ meta }, idx) in filteredItems" :key="idx" :data="meta" />
      <Empty v-if="filteredItems.length == 0" :message="'Объектов с такими параметрами нет'"/>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import Item from './components/Item.vue'
import FilterBy from './components/Filter.vue'
import Empty from './components/Empty.vue'

export default {
  name: 'app',
  components: {
    Item,
    FilterBy,
    Empty,
  },
  computed: {
    ...mapState([
      'loading',
      'items',
      'filter'
    ]),
    filteredItems() {
      let items = this.items;

      if (this.filter.star) {
        items = items.filter(({ meta }) => meta.star == this.filter.star);
      }

      if (this.filter.title) {
        items = items.filter(({ meta }) => meta.name.toLowerCase().indexOf(this.filter.title) !== -1);
      }

      return items;
    }
  },
  mounted() {
    this.getItems();
  },
  methods: {
    ...mapActions([
      'getItems'
    ])
  }
}
</script>

<style lang="scss">
  @import './scss/layout.scss';
  @import './scss/button.scss';
  @import './scss/processing.scss';
  @import './scss/stars.scss';

  .processing .empty
  {
    display: none;
  }
</style>
