html,
body
{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #000;
  font-family: $font-base;
}

.wrapper
{
  min-height: 100%;

  font-size: 16px;
}

.limiter
{
  max-width: 1000px;
  margin: 0 auto;

  padding: 0 20px;
}