.stars
{
  display: flex;
  align-items: center;

  .star
  {
    cursor: pointer;
    
    svg
    {
      margin-left: 10px;   
      
      path
      {
        fill: #999;
      }
    }

    &_active
    {
      svg
      {
        path
        {
          fill: rgb(224, 210, 5);
        }
      }
    }
  }
}